.job-container{
    display: flex;
    margin-bottom: 20px;
}

.job-title{
    margin-left: 130px;
}

.extend-experience-btn{
    margin-left: auto;
    transform:rotate(180deg);
}

.active-experience-btn{
    margin-left: auto;
    transform: none;
    background-color: #BAAB3F;
}

.hide-display{
    display: none;
    transition: height 2s ease-in-out;
}