<igx-accordion>
    <igx-expansion-panel>
        <igx-expansion-panel-header [iconPosition]="'right'">
            <igx-expansion-panel-title>
                <p>{{date}}</p>
            </igx-expansion-panel-title>
            <p 
            class="primary company-title" >
            {{school | uppercase}}
        </p>
        </igx-expansion-panel-header>
        <igx-expansion-panel-body>
            <div style="display: {{school==='Northcoders'?'':'none'}}">
                <app-northcoders 
                    [course]="course"
                ></app-northcoders>
            </div>
            <div style="display: {{school==='Portsmouth University'?'':'none'}};">
                 <app-portsmouth-uni
                 [course]="course"
                 [grade]="grade"
                 [modules]="modules"
                 >
                </app-portsmouth-uni>
            </div>
            <div style="display: {{school==='Plymstock Secondary School'?'':'none'}};">
                <app-plymstock-school
                    [subjects]="subjects"
                ></app-plymstock-school>
            </div>

        </igx-expansion-panel-body>
    </igx-expansion-panel>
</igx-accordion>
