<h3 class="primary section-title">{{title | uppercase}}</h3>
<div class="underline primary"></div>
<app-education-type 
    [date]="northcoders.date"
    [school]="northcoders.school"
    [course]="northcoders.course"
>
</app-education-type>
<app-education-type 
    [date]="portsmouthUni.date"
    [school]="portsmouthUni.school"
    [course]="portsmouthUni.course"
    [grade]="portsmouthUni.grade"
    [modules]="portsmouthUni.modules"
>
</app-education-type>
<app-education-type
    [date]="plymstockSchool.date"
    [school]="plymstockSchool.school"
>
</app-education-type>