/* You can add global styles to this file, and also import other style files */
p{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    padding: 0;
}

h3{
    margin: 0;
    padding: 0;
}

h4{
    margin: 0;
    padding: 0;
}


.primary{
    color: #BAAB3F;
}

.underline{
    width: 750px;
    border: #BAAB3F solid 1px;
    margin: 5px;
    margin-bottom: 20px;
}

.section-title{
    margin: 5px;
}

.text{
    padding-left: 200px;
}