/* You can add global styles to this file, and also import other style files */
p{
    margin: 0 !important;
    padding: 0 !important;
}

h1{
    margin: 0 !important;
    padding: 0 !important;
    font-size: 30px !important;
    line-height: 1 !important;
}

h3{
    margin: 0 !important;
    padding: 0 !important;
    font-size: 20px !important;
    line-height: 1 !important;
}

h4{
    margin: 0 !important;
    padding: 0 !important;
}


.primary{
    color: #BAAB3F;
}

.underline{
    width: 750px;
    border: #BAAB3F solid 1px;
    margin: 5px;
    margin-bottom: 20px;
}

.section-title{
    margin: 5px !important;
}

.text{
    padding-left: 200px !important;
}

.btn{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: white;
}

.btn:hover{
    background-color: grey;
}